@model IList<IntelliPix.Models.BlobInfo>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row margin-top">
    <div class="col-sm-8">
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
            <div class="input-group">
                <label class="input-group-btn">
                    <label class="btn btn-primary btn-file btn-lg">
                        Upload a photo <input type="file" name="file" style="display: none;">
                    </label>
                </label>
                <input type="text" class="form-control text-lg" readonly>
            </div>
        </form>
    </div>
    <div class="col-sm-3">
        <form method="get" asp-controller="Home" asp-action="Search" >
            <div class="input-group">
                <input type="search" name="q" value="@ViewBag.q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row margin-top">
    @foreach (var blob in Model)
    {
        <div class="col-xs-6 col-md-3">
            <a href="@blob.ImageUri" class="thumbnail" data-toggle="lightbox" data-gallery="photos-gallery" data-title="@blob.Caption" data-footer="@blob.Tags">
                <img src="@blob.ThumbnailUri" title="@blob.Caption" />
            </a>
        </div>
    }
</div>